app13:
  build: .
  volumes:
    - .:/code
  working_dir: /code
  entrypoint: "./phpunit.sh"
  tty: true
  stdin_open: true
  links:
    - elasticsearch13
  environment:
    EX_ES_HOST: elasticsearch13
    EX_ES_HOST_PORT: 9130

app22:
  build: .
  volumes:
    - .:/code
  working_dir: /code
  entrypoint: "./phpunit.sh"
  tty: true
  stdin_open: true
  links:
    - elasticsearch22
  environment:
    EX_ES_HOST: elasticsearch22
    EX_ES_HOST_PORT: 9220

elasticsearch13:
  image: elasticsearch:1.3
  command: elasticsearch -Des.network.bind_host=0.0.0.0 -Des.http.port=9130 -Des.cluster.name="SAPI-Testing-13"

elasticsearch22:
  image: elasticsearch:2.2
  command: elasticsearch -Des.network.bind_host=0.0.0.0 -Des.http.port=9220 -Des.cluster.name="SAPI-Testing-22"
