<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="true"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <testsuite name="Elasticsearch Writer Test Suite">
        <directory>tests/phpunit</directory>
    </testsuite>
</phpunit>
